/* Bismillahirrahmanirrahim
Alhamdulillahilladzi bini'maitihi tatimmushshalihat, salah satu nikmat yang sering kita lupakan adalah rasa aman.
Dirgahayu Indonesiaku, semoga bumi lekas pulih. Aamiin. */

body {
    background-image: url('freepik/325580-P9MY6V-133.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 77%;
    margin: 0;
    padding: 0;
    position: relative;
}

.background-gelap {
    width: 100%;
    height: 120%;
    background-color: black;
    opacity: 0.9;
    position: absolute;
    animation: gantiwarna 5s infinite;
}

.container {
    height: 630px;
    padding: 0;
    margin: 0;
    width: 210px;
    margin-left: 560px;
    position: relative;
    overflow: hidden;
}

svg
{   
    margin-left: 48%;
    position: absolute;
    visibility: hidden;
    animation: sv 1s forwards 2s;
    z-index: 1;
}

.bottom
{
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 40px;
    border-radius: 10px 10px 0 0;
    background: rgb(83, 83, 83);
    z-index: 2;
}

.bawah
{
    background: rgb(53, 54, 54);
    transform: translateY(25px)  translate(-50%,-50%);
    animation: keatas .3s forwards;
}

.tengah
{
    top: 94%;
    width: 150px;
    background: rgb(88, 90, 90);
    z-index: 1;
    transform: translateY(60px)  translate(-50%,-50%);
    animation: keatas .3s forwards .5s;
}
 
.atas
{
    top: 90%;
    width: 100px;
    z-index: 0;
    background: gray;
    transform: translateY(100px)  translate(-50%,-50%);
    animation: keatas .3s forwards 1s;
}

.tiang
{
    position: absolute;
    left: 48%;
    transform:translate(-50%,-50%);
    width: 8px;
    height: 468px;
    background: #eee;
    box-shadow:  inset 0 0 10px rgba(0, 0, 0, .2);
    visibility: hidden;
    animation: kebawah .2s forwards 1.5s;
    z-index: 2;
}

.pulih
{
    font-size: 50px;
    top: 45%;
    left: 55%;
    animation: kebawah .6s forwards 4s;
    margin: auto;
}

.dirgahayu 
{
    font-size: 50px;
    top: 80px;
    animation: kebawah .5s forwards 3s;
    margin-left: 230px;
}

.tujuhlima 
{
    font-size: 100px;
    top: 220px;
    animation: kebawah .5s forwards 3.5s;
    margin-left: 348px;
}

.dirgahayu, .tujuhlima, .pulih
{
    font-family: sans-serif;
    position: absolute;
    text-align: center;
    font-weight: bold;
    background: -webkit-linear-gradient(to bottom, red, white); 
    background: linear-gradient(to bottom, red, white); 
    /* -webkit-background-clip: text; */
    background-clip: text;
    /* -webkit-text-fill-color: transparent;  */
    -webkit-text-fill-color: transparent; 
    visibility: hidden;
    z-index: 1;
}

.bayangan
{
    background-color: white;
    height: 84px;
    width: 15px;
    position: absolute;
    top: 88px;
    left: 120px;
    margin-left: 560px;
    filter:blur(8px);
    animation: pindah-bayangan 10s infinite 2.5s;
    visibility: hidden;
    z-index: 1;
}

@keyframes  keatas
{
    to{
        transform: translateY(0)  translate(-50%,-50%);
    }
}

@keyframes sv 
{
    from{
        visibility: visible;
        top: -100px;}
    to{
        top: 0px;
        visibility: visible;
    }
}

@keyframes kebawah 
{
    from{
        visibility: visible}
    to {
        visibility: visible;
        -webkit-transform: translateY(79px);
    }
}

@keyframes pindah-bayangan 
{
    0%,100%
    {
        left: 120px;
        visibility: visible;
    }
    50%
    {
        left: 260px;
        visibility: visible;
    }

}

@keyframes gantiwarna 
{
    0% {background-color: black;}
    50% {background-color: maroon;}
    75% {background-color: white;}
}